* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    text-overflow: ellipsis;
}

.active {
    -webkit-box-shadow: inset 0px 0px 0px 4px rgb(92, 92, 255);
    -moz-box-shadow: inset 0px 0px 0px 4px rgb(92, 92, 255);
    box-shadow: inset 0px 0px 0px 4px rgb(92, 92, 255);
}
.selected {
    -webkit-box-shadow: inset 0px 0px 0px 4px rgb(212, 255, 92);
    -moz-box-shadow: inset 0px 0px 0px 4px rgb(212, 255, 92);
    box-shadow: inset 0px 0px 0px 4px rgb(212, 255, 92);
}

.playerStart {
    background-color: blue;
}
.cpuStart {
    background-color: red;
}
.player {
    color: white;
}